# Rails files
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
config/secrets.yml

# Environment normalisation:
/.bundle
/vendor/bundle

# Local vars
.rbenv-vars

# Ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json
